@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 100% 97%;
    --foreground: 224 76% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 76% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 76% 15%;
    --primary: 47 100% 68%;
    --primary-foreground: 216 100% 13%;
    --secondary: 54 30% 92%;
    --secondary-foreground: 224 76% 15%;
    --muted: 54 30% 92%;
    --muted-foreground: 224 76% 35%;
    --accent: 224 76% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 54 20% 85%;
    --input: 54 20% 88%;
    --ring: 224 76% 25%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 216 100% 8%;
    --foreground: 54 100% 97%;
    --card: 216 80% 12%;
    --card-foreground: 54 100% 97%;
    --popover: 216 100% 8%;
    --popover-foreground: 54 100% 97%;
    --primary: 47 100% 68%;
    --primary-foreground: 216 100% 13%;
    --secondary: 216 100% 15%;
    --secondary-foreground: 54 100% 97%;
    --muted: 216 100% 15%;
    --muted-foreground: 54 100% 80%;
    --accent: 224 76% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 100% 15%;
    --input: 216 100% 15%;
    --ring: 47 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
